{% extends 'base.html' %} 
{% block content %}

<!--Section Icon Boxes-->
<section class="section section-icons grey lighten-4 center">
    <div class="container">

        <div class="row">


            {% for agent in agencies %}
                    <div class="col s12 m4 l3">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ agent.agency_Cover.url }}">
                                <span class="card-title">{{agent.agency_Title}}</span>
                            </div>
                            <div class="card-content">
                                {{ agent.agency_Description }}
                            </div>
                            <div class="card-action">
                                <a href="{{ agent.agency_Link }}">VISIT</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}



        </div>

    </div>
</section>

<div class="divider "></div>

{% if agencies.has_other_pages %}
<ul class="pagination">
  {% if agencies.has_previous %}  
    <li class="active"><a href="?page={{ agencies.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
  {% else %}
    <li class="disabled"><a href="#!"></a></li>
  {% endif %}  
  {% for i in agencies.paginator.page_range %}
     {% if agencies.number == i %}
    <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
     {% endif %}
  {% endfor %}  
  {% if agencies.has_next %} 
    <li class="waves-effect"><a href="?page={{ agencies.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
  {% else %}
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  {% endif %}
</ul>
{% endif %}

{% endblock %}

