{% extends 'base.html' %} 
{% load static %}
{% block content %}

<!--Section Icon Boxes-->
<section class="section section-icons grey lighten-4 center">
    <div class="container">

        <div class="row">
            {% for cat in categories %}
            <div class="col s12 m4">
               <!-- <a href="{{cat.category_slug}}"> -->
                <a href="{{cat.agency_Category}}">
                <div class="card-panel">
                    
                    <i class="material-icons large teal-text">{{cat.agency_logo}}</i>
                    
                    <h4>{{cat.agency_Category}}</h4>
                    <p>{{cat.category_Summary}}</p>                  
                </div></a>                   
            </div>
            {% endfor %}
        </div>

    </div>
</section>

<div class="divider "></div>


 <!--Popular Websites-->
 <section id="popular" class="section section-popular scrollspy">
    <div class="container">
        <div class="row">
            <h4 class="center">
                <span class="teal-text">Popular</span> Websites
            </h4>


            
        {% for p in popular %}
            
                    <div class="col s12 m4 l3">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ p.agency_Cover.url }}">
                                <span class="card-title">{{p.agency_Title}}</span>
                            </div>
                            <div class="card-content">
                                {{ p.agency_Description }}
                            </div>
                            <div class="card-action">
                                <a href="{{ p.agency_Link }}">VISIT</a>
                            </div>
                        </div>
                    </div>
                
        {% endfor %}
            
           
         
        </div>
    </div>
</section>


{% endblock %}