{% extends 'base.html' %} 
{% block content %}

<!--Section Icon Boxes-->
<section class="section section-icons grey lighten-4 center">
    <div class="container">
        <div class="row">
            
            <div class="col s12 m4">
                <a href="https://www.hostpoa.co.ke">
                <div class="card-panel">
                    
                    <i class="material-icons large teal-text">local_hospital</i>
                    
                    <h4>Health</h4>
                    <p>Get Access to all government sites and services under housing</p>                  
                </div></a>                   
            </div>
                
            <div class="col s12 m4">
                <div class="card-panel">
                    <i class="material-icons large teal-text">agriculture</i>
                    <h4>Agriculture</h4>
                    <p>Get Access to all government sites and services under agriculture</p>                  
                </div>                    
            </div>
            <div class="col s12 m4">
                <div class="card-panel">
                    <i class="material-icons large teal-text">apartment</i>
                    <h4>Housing</h4>
                    <p>Get Access to all government sites and services under housing</p>                  
                </div>                    
            </div>
                
            <div class="col s12 m4">
                <div class="card-panel">
                    <i class="material-icons large teal-text">construction</i>
                    <h4>Industrialization</h4>
                    <p>Get Access to all government sites and services under housing</p>                  
                </div>                    
            </div>
            <div class="col s12 m4">
                <div class="card-panel">
                    <i class="material-icons large teal-text">local_police</i>
                    <h4>Security</h4>
                    <p>Get Access to all government sites and services under police</p>                  
                </div>                    
            </div>
                
            <div class="col s12 m4">
                <div class="card-panel">
                    <i class="material-icons large teal-text">school</i>
                    <h4>Education</h4>
                    <p>Get Access to all government sites and services under education</p>                  
                </div>                    
            </div>
            <div class="col s12 m4">
                <div class="card-panel">
                    <i class="material-icons large teal-text">tour</i>
                    <h4>Wildlife and tourism</h4>
                    <p>Get Access to all government sites and services under Wildlife and tourism</p>                  
                </div>                    
            </div>
            
            <div class="col s12 m4">
                <div class="card-panel">
                    <i class="material-icons large teal-text">computer</i>
                    <h4>ICT</h4>
                    <p>Get Access to all government sites and services under information and communication technology</p>                  
                </div>                    
            </div>
            
            <div class="col s12 m4">
                <div class="card-panel">
                    <i class="material-icons large teal-text">gavel</i>
                    <h4>Government and law</h4>
                    <p>Get Access to all government sites and services under law and goverment</p>                  
                </div>                    
            </div>                 
                         
        </div>
    </div>
</section>

<div class="divider "></div>
<div class="container">
    <div class="section">
        <h5></h5>

        <section>
            <div class="row">

                <div class="row">
                    {% for agent in agency %}
                    <div class="col s12 m4 l3">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ agent.Cover.url }}">
                                <span class="card-title">{{agent.Title}}</span>
                            </div>
                            <div class="card-content">
                                {{ agent.Description }}
                            </div>
                            <div class="card-action">
                                <a href="{{ agent.Link }}">VISIT</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </section>

    </div>
</div>
{% endblock %}