{% extends 'base.html' %} 
{% block content %}
<div class="divider "></div>
<div class="container">
    <div class="section">
        <h5></h5>

        <section>
            <div class="row">

                <div class="row">
                    {% for agent in agency %}
                    <div class="col s12 m4 l3">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ agent.Cover.url }}">
                                <span class="card-title">{{agent.Title}}</span>
                            </div>
                            <div class="card-content">
                                {{ agent.Description }}
                            </div>
                            <div class="card-action">
                                <a href="{{ agent.Link }}">VISIT</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </section>

    </div>
</div>
{% endblock %}