{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Import Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>KenyaDelivers</title>
    <link href="css/index.css" rel="stylesheet">
</head>

<body id="home" class="scrollspy">
    <!--Section Navbar-->
    <div class = "navbar-fixed">
        <nav class="teal" >
            <div class="nav-wrapper black-text">
            <a href="https://kenyadelivers.co.ke" class="brand-logo" >
                <img src="{% static 'images/kdlogo1.jpg' %}" alt="kenyadelivers" width="270" height="63">
            </a>
            <a href="#" data-target = "mobile-nav" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>

            <ul id="nav-mobile" class="right hide-on-med-and-down ">
                <li class="light black-text text-lighten-3"><a href="/search">Search</a></li>
                <li class="light grey-text text-lighten-3"><a href="badges.html">Tenders</a></li>
                <li class="light grey-text text-lighten-3"><a href="collapsible.html">Government</a></li>
            </ul>
            </div>
        </nav>
    </div>

{% block content %}

<!--Section Icon Boxes-->
<section class="section section-icons grey lighten-4 center">
    <div class="container">

        <div class="row">


            {% for agent in agency %}
                    <div class="col s12 m4 l3">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ agent.agency_Cover.url }}">
                                <span class="card-title">{{agent.agency_Title}}</span>
                            </div>
                            <div class="card-content">
                                {{ agent.agency_Description }}
                            </div>
                            <div class="card-action">
                                <a href="{{ agent.agency_Link }}">VISIT</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}



        </div>

    </div>
</section>

<div class="divider "></div>

{% endblock %}
</body>
</html>